<div class= 'comment_wrapper'>
  <li>
    <p><%= comment.body %> 
    <div><small>Submitted by: <%= comment&.user&.email%> </p></div>
    <h4>Replies:</h4>
    <ul>
      <%= render(partial: 'comments/reply', collection: comment.comments) %>
      <%= render(partial: 'comments/new_reply', locals: {comment: comment}) %>
    </ul>
  </li>
</div>